{% extends "base.html" %}
{% load static %}
{% block title %}گروه بندی جام ملتهای اروپا{% endblock %}
{% block content %}
    <!-- groups -->

    <div class="container-fluid">
        <section class="content-info mt-5 ms-5 mb-5">
            <div class="container mt-5 ms-5 group-container">
                <div class="groups-list page-group mt-5 ms-5">
                    <div class="row ms-5">
                        <div class="col-lg-3 col-md-6 ms-5 group-table ">
                            <div class="group-title mb-3">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center"><a href="#">گروه a</a>
                                </h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/ger.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/scot.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/hungary.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/icons8-switzerland-70.png' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  ms-5 group-table">
                            <div class="group-title mb-3">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center"><a href="#">گروه b</a>
                                </h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center mb-3">
                                        <a href="#">
                                            <img src="{% static 'logos/esp.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/cro.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/italy.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/albania.png' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 ms-5 group-table">
                            <div class=" group-title">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center"><a href="#">گروه c</a>
                                </h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center ">
                                        <a href="#">
                                            <img src="{% static 'logos/slovenia.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center mb-3 ">
                                        <a href="#">
                                            <img src="{% static 'logos/den.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center mb-3">
                                        <a href="#">
                                            <img src="{% static 'logos/srb.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center ">
                                        <a href="#">
                                            <img src="{% static 'logos/eng.png' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row ms-5 mt-3">
                        <div class="col-lg-3 col-md-6 ms-5 group-table">
                            <div class="group-title mb-3">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center "><a href="#">گروه
                                    d</a></h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/pol.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/netherlands.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/austria.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">

                                        <a href="#">
                                            <img src="{% static 'logos/fra.png' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 ms-5 group-table">
                            <div class="group-title mb-3">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center "><a href="#">گروه
                                    e</a></h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/bel.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/slovakia.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/romania.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/urkraine.png' %}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 ms-5 group-table">
                            <div class="group-title ">
                                <h5 class="mb-5 d-flex justify-content-center align-items-center  "><a href="#">گروه
                                    f</a></h5></div>
                            <div class="item-group">
                                <ul>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/turkey.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/georgia.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/por.png' %}" alt=""></a>
                                    </li>
                                    <hr>
                                    <li class="d-flex justify-content-center align-items-center">
                                        <a href="#">
                                            <img src="{% static 'logos/czechia.png' %}" alt=""></a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

        </section>
    </div>
{% endblock %}