{% extends "base.html" %}
{% load static %}
{% block title %}صفه پیش بینی{% endblock %}
{% block content %}
    <!-- Matches -->
    <h1>{{ submission_time }}</h1>
    <div class="container mt-5 mb-5">
    {% for msg in messages %}
     <div class="alert alert-success mb-5" role="alert" id="alert">
                {{ msg }}
            </div>
    {% endfor %}
        <div class="row d-flex justify-content-center mt-5">


            <div class="col-lg-12 col-md-6 col-sm-12 d-flex justify-content-center align-items-center mt-5 ">
                {% if user_forecasts_exist %}
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> شما یکبار امروز پیش بینی کرده اید!
                    </div>
                {% else %}

                    {% if submission_time > first_match_start or submission_time < two_am %}
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> شما نمی توانید در ساعات پس از مسابقه اول تا 2 صبح پیش بینی
                            کنید
                        </div>
                    {% else %}

                        <form method="post"  id="myForm">
                            {% csrf_token %}
                            {% for match in matches %}
                                <div class="d-flex justify-content-center align-items-center mb-5">
                                    <div class="me-5"><img src="{{ match.home_img.url }}" alt="">
                                        <p>{{ match.home_name }}</p>
                                        <input type="text" class="form-control" name="home-{{ match.id }}">
                                    </div>
                                    <div class="ms-5"><img src="{{ match.away_img.url }}" alt="">
                                        <p>{{ match.away_name }}</p>
                                        <input type="text" class="form-control" name="away-{{ match.id }}">
                                    </div>
                                </div>
                                <hr class="mt-5 match">

                            {% endfor %}
                            <button type="submit " id="submitButton" class="btn btn-primary mt-5">ارسال</button>
                        </form>
                        </div>
                    {% endif %}
                {% endif %}

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mt-5 me">
            <div>
                <a class="btn btn-primary mt-5" href="{% url "Home:History" %}">سابقه پیش بینی های شما</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}