{% extends "base.html" %}
{% load static %}
{% block title %}جدول شرکت کنندگان{% endblock %}
{% block content %}
    <!-- Scores Table -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-6-sm">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">امتیاز</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for score in scores %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ score.user.first_name }}</td>
                        <td>{{ score.user.last_name }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                   {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}